# Ignore project files in the root
/*.sln
*.suo
*.opensdf
*.sdf

# Derived data cache is never checked in
DerivedDataCache/

# Engine intermediates
Intermediate/

# Ignore binary files...
Binaries/

# Ignore content besides UI and Blueprints
!/Content
/Content/*
!/Content/Blueprints
!/Content/UI

# Ignore saved backuos, logs, cooked files, etc...
Saved/