# Ignore project files in the root
/*.sln
*.suo
*.opensdf
*.sdf

# Derived data cache is never checked in
DerivedDataCache/

# Engine intermediates
Intermediate/

# Ignore binary files...
Binaries/

# Ignore StarterContent
Content/StarterContent


# Ignore saved backuos, logs, cooked files, etc...
Saved/
*.stackdump
